@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: block;
}
#header > .header_left {
    float: left;
    width: calc(100% / 3);
    height: 100%;
}
.header_left img {
    height: 50px;
    width: 80px;
    float: left;
    margin-left: 50px;
}
.menu {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: #5e5e5e;
    border: none;
    color: white;
}
#header > .header_center {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header > .header_center input {
    width: 400px;
    height: 30px;
    background-color: #cfcfd1;
    border: none    ;
    border-radius: 4px;
}
#header > .header_center button {
    height: 30px;
    width: 50px;
    border: none;
    background-color: #5e5e5e;
    border-radius: 4px;
}
#header > .header_right {
    float: right;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    padding: 10px;
    font-size: 21px;
}
#footer {
    width: 100%;
    height: 30px;
    text-align: center;
    color: red;
}
#login {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#login > .login_left {
    float: left;
    height: 100%;
    width: 40%;
    padding: 50px;
}
#login > .login_right {
    width: 60%;
    height: 100%;
    float: right;
    text-align: center;
}
#login > .login_right table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
a {
    color: #1f1d1d;
    text-decoration: none;
}
#content {
    position: fixed;
    top: 50px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}
#content h2 {
    padding: 0;
    margin: 0;
}
#footer {
    text-align: center;
}
#login {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#login > .login_left {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#login > .login_right {
    height: 100%;
    width: 60%;
    float: right;
    text-align: center;
    padding-top: 100px;
}
#login > .login_right table {
    padding: 50px;
}
#login > .login_right table  th {
    padding-bottom: 20px;
    width: 100px;
}
#login > .login_right table  td {
    padding-bottom: 20px;
}
#login > .login_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#login > .login_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#login > .login_right button:hover {
    width: 70px;
    height: 20px;
}
#login > .login_right h2 {
    font-size: 30px;
}
#singupP {
    width: 100%;
    overflow: hidden;
}
#singupP > .singupP_left {
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#singupP > .singupP_right {
    width: 60%;
    float: right;
    text-align: center;
}
#singupP > .singupP_right table {
    margin-left: 80px;
}
#singupP > .singupP_right table  th {
    padding-bottom: 10px;
    width: 200px;
}
#singupP > .singupP_right table  td {
    padding-bottom: 10px;
}
#singupP > .singupP_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#singupP > .singupP_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#singupP > .singupP_right button:hover {
    width: 70px;
    height: 20px;
}
#singupP > .singupP_right h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#singupK {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#singupK > .singupK_left {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#singupK > .singupK_right {
    height: 100%;
    width: 60%;
    float: right;
    text-align: center;
}
#singupK > .singupK_right table {
    margin-left: 80px;
}
#singupK > .singupK_right table  th {
    padding-bottom: 10px;
    width: 200px;
}
#singupK > .singupK_right table  td {
    padding-bottom: 10px;
}
#singupK > .singupK_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#singupK > .singupK_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#singupK > .singupK_right button:hover {
    width: 70px;
    height: 20px;
}
#singupK > .singupK_right h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#SignUp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 100px;
}
#SignUp > .kupci {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 20px;
}
#SignUp > .kupci button {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}
#SignUp > .kupci button:hover {
    width: 110px;
    height: 35px;
}
#SignUp > .kupci table {
    margin-left: 0;
    margin-right: 0;
}
#SignUp > .prodavci {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 20px;
}
#SignUp > .prodavci table {
    margin-left: 0;
    margin-right: 0;
}
#SignUp > .prodavci button {
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}
#SignUp > .prodavci button:hover {
    width: 110px;
    height: 35px;
}
#sellProfNav {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #c1c1c1;
    overflow: hidden;
    border: 1px solid grey;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    margin-top: 30px;
}
#sellProfNav > .left {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#sellProfNav > .center1 {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#sellProfNav > .center2 {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#sellProfNav > .right {
    float: right;
    height: 100%;
    width: calc(100% / 4);
}
#sellProfNav > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#sellProfNav > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#sellProfNav > .center1 a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#sellProfNav > .center2 a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;

}
#sellProfNav a {
    height: 100%;
}
#Seller {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}
#Seller > .sellerfleft {
    float: left;
    height: 100%;
    width: 30%;
    padding-left: 200px;
    padding-top: 50px;
}
#Seller > .sellerright {
    float: right;
    height: 100%;
    width: 70%;
    padding-top: 50px;
    padding-left: 80px;
}
#Seller > .sellerright table {
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
}
#Seller > .sellerright table th {
    width: 200px;
    padding-bottom: 10px;
    text-align: center
}
#Seller > .sellerright table td {
    width: 200px;
    padding-bottom: 10px;
}
#Seller > .sellerright input {
    width: 200px;
}
.ADD {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.ADD table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 100px;
    border: 1px solid gray;
}
.ADD table th {
    padding-bottom: 20px;
    width: 100px;

    text-align: center;
}
.ADD table td {
    padding-bottom: 20px;
    width: 200px;

    text-align: left;
}
.ADD table textarea {
    width:300px;
    height: 70px;
}
.sellInbox {
    width: 50%;
    height: 80px;
    text-align: center;
    background-color: #e6e6e6;
    overflow: hidden;
    border: 1px solid grey;
    font-size: 20px;
    margin-top: 30px;
    margin: auto;
    box-shadow: 5px 10px #bfbfbf;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 7px;
}
.sellInbox > .left {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    border-right: 1px solid grey;
    padding: 22px;
    background-color: #b3b3b3;
    border-radius: 3px;
}
.sellInbox > .right {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    padding: 22px;
}
.sellInbox > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.sellInbox > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.sellInbox a {
    height: 100%;
}
.sellSent {
    width: 50%;
    height: 80px;
    text-align: center;
    background-color: #e6e6e6;
    overflow: hidden;
    border: 1px solid grey;
    font-size: 20px;
    margin-top: 30px;
    margin: auto;
    box-shadow: 5px 10px #bfbfbf;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 7px;
}
.sellSent > .left {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    border-right: 1px solid grey;
    padding: 22px;
}
.sellSent > .right {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    padding: 22px;
    background-color: #b3b3b3;
    border-radius: 3px;
}
.sellSent > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.sellSent > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.sellSent a {
    height: 100%;
}
.messageContent {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    height: 650px;
    margin-top: 15px;
    border-radius: 7px;
    box-shadow: 5px 10px #bfbfbf;
}
.all_product {
    float: left;
    width: calc(100% / 4);
    height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.adwertALL {
    float: left;
    width: calc(100% / 4);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.adwertALL textarea {
    width: 250px;
    height: 80px
}
.img {
    background-color: #00CC00;
    height: 100px;
    width: 100px;
}
#productDesc {
    width: 85%;
    height: 730px;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
}
.productDescLeft {
    width: calc(37%);
    height: 730px;
    border: 1px solid black;
    float: left;
}
.productDescCenter {
    width: calc(33%);
    height: 730px;
    border: 1px solid black;
    float: left;
}
.productDescRight {
    width: calc(30%);
    height: 730px;
    border: 1px solid black;
    float: left;
}
#slideshow {
    height: 450px;
    width: 100%;
    margin: auto;
    border-bottom: 2px solid black;
    position: relative;
}
      
#leftHolder {
    height: 450px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#rightHolder {
    height: 450px;
    width: 100px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.leftArrow {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    left: 0px;
}
.rightArrow {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    right: 0px;
}
#buyProfNav {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #c1c1c1;
    overflow: hidden;
    border: 1px solid grey;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    margin-top: 30px;
}
#buyProfNav > .left {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#buyProfNav > .center1 {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#buyProfNav > .center2 {
    float: left;
    height: 100%;
    width: calc(100% / 4);
    border-right: 1px solid grey;
}
#buyProfNav > .right {
    float: right;
    height: 100%;
    width: calc(100% / 4);
}
#buyProfNav > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#buyProfNav > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#buyProfNav > .center1 a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
#buyProfNav > .center2 a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;

}
#buyer {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}
#buyer > .buyerleft {
    float: left;
    height: 100%;
    width: 30%;
    padding-left: 200px;
    padding-top: 50px;
}
#buyer > .buyerright {
    float: right;
    height: 100%;
    width: 70%;
    padding-top: 50px;
    padding-left: 80px;
}
#buyer > .buyerright table {
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
}
#buyer > .buyerright table th {
    width: 200px;
    padding-bottom: 10px;
    text-align: center
}
#buyer > .buyerright table td {
    width: 200px;
    padding-bottom: 10px;
}
#buyer > .buyerright input {
    width: 200px;
}
.buyerInbox {
    width: 50%;
    height: 80px;
    text-align: center;
    background-color: #e6e6e6;
    overflow: hidden;
    border: 1px solid grey;
    font-size: 20px;
    margin-top: 30px;
    margin: auto;
    box-shadow: 5px 10px #bfbfbf;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 7px;
}
.buyerInbox > .left {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    border-right: 1px solid grey;
    padding: 22px;
    background-color: #b3b3b3;
    border-radius: 3px;
}
.buyerInboxbuyerSent > .right {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    padding: 22px;
}
.buyerInboxbuyerSent > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.buyerInboxbuyerSent > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.buyerInboxbuyerSent a {
    height: 100%;
}
.buyerSent {
    width: 50%;
    height: 80px;
    text-align: center;
    background-color: #e6e6e6;
    overflow: hidden;
    border: 1px solid grey;
    font-size: 20px;
    margin-top: 30px;
    margin: auto;
    box-shadow: 5px 10px #bfbfbf;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 7px;
}
.buyerSent > .left {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    border-right: 1px solid grey;
    padding: 22px;
}
.buyerSent > .right {
    float: left;
    height: 100%;
    width: calc(100% / 2);
    padding: 22px;
    background-color: #b3b3b3;
    border-radius: 3px;
}
.buyerSent > .left a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.buyerSent > .right a:hover {
    background-color: #8e8e8e;
    border-radius: 4px;
}
.buyerSent a {
    height: 100%;
}
.messageContent {
    width: 50%;
    margin: auto;
    border: 1px solid black;
    height: 650px;
    margin-top: 15px;
    border-radius: 7px;
    box-shadow: 5px 10px #bfbfbf;
}
.nameProduct {
    font-weight: bolder;
}
.nameProduct a:hover {
    color: #8793a5;
}
.productDescRight > button #message {
    border-radius: 3px;
}s
