@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

#header {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: block;
}
#header > .header_left {
    float: left;
    width: calc(100% / 3);
    height: 100%;
}
.header_left img {
    height: 50px;
    width: 80px;
    float: left;
    margin-left: 50px;
}
.menu {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 40px;
    width: 40px;
    background-color: #5e5e5e;
    border: none;
    color: white;
}
#header > .header_center {
    float: left;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#header > .header_center input {
    width: 400px;
    height: 30px;
    background-color: #cfcfd1;
    border: none    ;
}
#header > .header_center button {
    height: 30px;
    width: 50px;
    border: none;
    background-color: #5e5e5e;
}
#header > .header_right {
    float: right;
    width: calc(100% / 3);
    height: 100%;
    text-align: center;
    padding: 10px;
    font-size: 21px;
}
#footer {
    width: 100%;
    height: 30px;
    text-align: center;
    color: red;
}
#login {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#login > .login_left {
    float: left;
    height: 100%;
    width: 40%;
    padding: 50px;
}
#login > .login_right {
    width: 60%;
    height: 100%;
    float: right;
    text-align: center;
}
#login > .login_right table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
a {
    color: #1f1d1d;
    text-decoration: none;
}
#content {
    position: fixed;
    top: 50px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}
#content h2 {
    padding: 0;
    margin: 0;
}
#footer {
    text-align: center;
}
#login {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#login > .login_left {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#login > .login_right {
    height: 100%;
    width: 60%;
    float: right;
    text-align: center;
    padding-top: 100px;
}
#login > .login_right table {
    padding: 50px;
}
#login > .login_right table  th {
    padding-bottom: 20px;
    width: 100px;
}
#login > .login_right table  td {
    padding-bottom: 20px;
}
#login > .login_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#login > .login_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#login > .login_right button:hover {
    width: 70px;
    height: 20px;
}
#login > .login_right h2 {
    font-size: 30px;
}
#singupP {
    width: 100%;
    overflow: hidden;
}
#singupP > .singupP_left {
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#singupP > .singupP_right {
    width: 60%;
    float: right;
    text-align: center;
}
#singupP > .singupP_right table {
    margin-left: 80px;
}
#singupP > .singupP_right table  th {
    padding-bottom: 10px;
    width: 200px;
}
#singupP > .singupP_right table  td {
    padding-bottom: 10px;
}
#singupP > .singupP_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#singupP > .singupP_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#singupP > .singupP_right button:hover {
    width: 70px;
    height: 20px;
}
#singupP > .singupP_right h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#singupK {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#singupK > .singupK_left {
    height: 100%;
    width: 40%;
    float: left;
    border-right: 1px solid black;
}
#singupK > .singupK_right {
    height: 100%;
    width: 60%;
    float: right;
    text-align: center;
}
#singupK > .singupK_right table {
    margin-left: 80px;
}
#singupK > .singupK_right table  th {
    padding-bottom: 10px;
    width: 200px;
}
#singupK > .singupK_right table  td {
    padding-bottom: 10px;
}
#singupK > .singupK_right input {
    /* background-color: #d3d3d3;*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 200px;
}
#singupK > .singupK_right button {
    width: 60px;
    height: 18px;
    color: white;
    background-color: #5e5e5e;
    border: none;
}
#singupK > .singupK_right button:hover {
    width: 70px;
    height: 20px;
}
#singupK > .singupK_right h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#SignUp {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 100px;
}
#SignUp > .kupci {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 20px;
}
#SignUp > .kupci button {
    border: none;
    width: 100px;
    height: 30px;
}
#SignUp > .kupci button:hover {
    width: 110px;
    height: 35px;
}
#SignUp > .kupci table {
    margin-left: 0;
    margin-right: 0;
}
#SignUp > .prodavci {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 20px;
}
#SignUp > .prodavci table {
    margin-left: 0;
    margin-right: 0;
}
#SignUp > .prodavci button {
    border: none;
    width: 100px;
    height: 30px;
}
#SignUp > .prodavci button:hover {
    width: 110px;
    height: 35px;
}
#sellProfNav {
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #c1c1c1;
    overflow: hidden;
    border: 1px solid grey;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 20px;
    margin-top: 30px;
}
#sellProfNav > .left {
    float: left;
    height: 100%;
    width: calc(100% / 3);
    border-right: 1px solid grey;
}
#sellProfNav > .center {
    float: left;
    height: 100%;
    width: calc(100% / 3);
    border-right: 1px solid grey;
}
#sellProfNav > .right {
    float: right;
    height: 100%;
    width: calc(100% / 3);
}
#sellProfNav > .left a:hover {
    background-color: #8e8e8e;
}
#sellProfNav > .right a:hover {
    background-color: #8e8e8e;
}
#sellProfNav > .center a:hover {
    background-color: #8e8e8e;
}
#sellProfNav a {
    height: 100%;
}
#Seller {
    height: 100%;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 100px;
}
#Seller > .sellerfleft {
    float: left;
    height: 100%;
    width: 30%;
    padding-left: 200px;
    padding-top: 50px;
}
#Seller > .sellerright {
    float: right;
    height: 100%;
    width: 70%;
    padding-top: 50px;
    padding-left: 80px;
}
#Seller > .sellerright table {
    padding-left: 50px;
    padding-right: 50px;
    width: 800px;
}
#Seller > .sellerright table th {
    width: 200px;
    padding-bottom: 10px;
    text-align: center
}
#Seller > .sellerright table td {
    width: 200px;
    padding-bottom: 10px;
}
#Seller > .sellerright input {
    width: 200px;
}
/*ul{
    padding: 0;
    list-style: none;
    background: #f2f2f2;
}
ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: #333;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block; /* Display the dropdown
}
ul li ul.dropdown li{
    display: block;
}*/
.ADD {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.ADD table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 100px;
    border: 1px solid gray;
}
.ADD table th {
    padding-bottom: 20px;
    width: 100px;

    text-align: center;
}
.ADD table td {
    padding-bottom: 20px;
    width: 200px;

    text-align: left;
}
.ADD table textarea {
    width:300px;
    height: 70px;
}